body
{
  position: fixed; 
  width: 100%;
  margin: 0px;
  background-image:url(./img/background.png);
}

#search_div {
  position: relative;
	height: 50vh;
  background-color: #2EBD59;
  border-bottom: solid #CBD3CD;
}

#spotifylogo {
  position: absolute;
  left: 190vh;
  bottom: 100vh;
  width: 50px;
  height: 50px;
}

#submit_div {
    text-align: center;
}

#title {
  margin-top: 0;
  padding-top: 20vh;
  text-align: center;
  font-family: 'Lato';
  font-size: 40px;
}

#display_div {
	height: 80vh;
  background-image:url(./img/background.png);
}

#graph_div {
  float: left;
  cursor: default;
}

#selection_div {
  float: right;
  margin-top: 10%;
  margin-right: 10%;
  height: 50vh;
  width: 20%;
  font-family: 'Lato';
}

#playlist_input {
  text-align: center;
  border-radius: 10px; /* CSS3 */
  -moz-border-radius:10px; /* Mozilla */
  -webkit-border-radius:10px; /* Webkit */
  width: 300px;
  height: 20px;
}

/*#signin {
  position: absolute;
  background-image:url(./img/sign_in.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 170px;
  right: 45%;
}*/

#signin {
  position: absolute;
  background-color: #000000;
  border-radius: 20px; /* CSS3 */
  -moz-border-radius: 20px; /* Mozilla */
  -webkit-border-radius: 20px; /* Webkit */
  border: none;
  cursor: pointer;
  height: 40px;
  width: 190px;
  right: 45%;
  color: #FFFFFF;
  font-family: Arial;
}

#signin:hover {
  background-color: #242424;
}

#drawgraph {
  margin-left: 20px;
  background-color: #000000;
  border-radius: 20px; /* CSS3 */
  -moz-border-radius: 20px; /* Mozilla */
  -webkit-border-radius: 20px; /* Webkit */
  border: none;
  cursor: pointer;
  width: 150px;
  height: 25px;
  color: #FFFFFF;
  font-family: Arial;
}

#drawgraph:hover {
  background-color: #242424;
}

footer {
  font-family: 'Lato';
  background-image:url(./img/background.png);
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}